<main class="splash">
  <div>

    <h1 class="splash-title">LilleFP <span>Participer</span></h1>
    <p>
      <strong>LilleFP</strong> est un événement récurrent de la scène Lilloise,
      qui a pour thématique l'usage et la présentation de technologies, de langages
      et d'outils <strong>beaux</strong> et <strong>bien pensés</strong>.<br />
      Cette application vous permet de soumettre des participations, pour être
      pro-actif dans la communauté !
  </div>
</main>
